.arrowLeft {
  &:hover{
    cursor: pointer;
  }
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border-left: 4px solid #003894;
  border-bottom: 4px solid #003894;
  transform: rotate(45deg);
}
