.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 30px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  //font-size: 30px;
  font-size: 31rem;
  margin-right: auto;
}

.arrow::before,
.arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.sample12::before {
  left: 3px;
  width: 7px;
  height: 1px;
  background: #7a0;
}

.sample12::after {
  left: 3px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #7a0;
  border-right: 1px solid #7a0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.arrowLeft {
  &:hover{
    cursor: pointer;
  }
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  border-left: 4px solid #003894;
  border-bottom: 4px solid #003894;
  transform: rotate(45deg);
}
