.c-heading {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.level--1 {
  font-size: 18px;
}

.level--2 {
  font-size: 20px;
}

.level--3 {
  font-size: 24px;
}

.level--4 {
  font-size: 28px;
}

.level--5 {
  font-size: 32px;
}

.level--6 {
  font-size: 36px;
}

.underlined{
  border-bottom: 1px solid #cccccc;
  padding-bottom: .5rem;
}